.page-banner {
  height: 180px;
  border-radius: 10px;
  background-image: url(../../../assets/images/banner.svg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  font-family: var(--global-ff);
  margin-bottom: 24px;
  &-content {
    > span,
    a {
      font-size: 14px;
      color: var(--text-color);
    }

    > h1 {
      font-size: 44px;
      font-weight: 500;
    }
    .banner-link {
      &:hover {
        text-decoration: underline;
        text-decoration-color: black;
      }
    }
  }
}
