.self-employment-mode-section4 {
  width: 100%;
  height: auto;
  //   border: 1px solid red;

  & > h2 {
    font-family: "Circe";
    text-align: center;
    margin: 3rem 0px;
    padding: 0px 25px;
    font-size: 31px;
    font-weight: 600;
    line-height: 1.3;
    color: #623b2a;
  }

  &-content {
    width: 100%;
    height: auto;
    border: inherit;
    display: flex;
    justify-content: space-between;

    & > img {
      width: 255px;
      height: 274px;
    }

    &-greenBox {
      width: 400px;
      height: auto;
      padding: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;

      & > h3 {
        margin-bottom: 3rem !important;
        font-family: "Circe";
        color: #43a047;
        font-size: 27px;
        line-height: 1.4;
        font-weight: 800;
        text-transform: uppercase;
        margin-right: 15%;
      }

      & > h4 {
        font-size: 18px;
        font-weight: 600;
        font-family: "Circe";
        line-height: 1.2;
        color: #000;
        margin-bottom: 0.5rem;
      }

      & > p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        font-size: 15px;
        padding-bottom: 1rem !important;
      }

      &-line {
        width: 100%;
        height: 2px;
        background-color: #43a047;
        margin-bottom: 1rem !important;
      }
    }

    &-redBox {
      width: 400px;
      height: 600px;
      padding: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;

      & > h3 {
        margin-bottom: 3rem !important;
        font-family: "Circe";
        color: #e04e39;
        font-size: 27px;
        line-height: 1.4;
        font-weight: 800;
        text-transform: uppercase;
        margin-right: 15%;
      }

      & > h4 {
        font-size: 18px;
        font-weight: 600;
        font-family: "Circe";
        line-height: 1.2;
        color: #000;
        margin-bottom: 0.5rem;
      }

      & > p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        font-size: 15px;
        padding-bottom: 1rem !important;
      }

      &-line {
        width: 100%;
        height: 2px;
        background-color: #e04e39;
        margin-bottom: 1rem !important;
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .self-employment-mode-section4 {
    width: 100%;
    height: auto;

    &-content {
      flex-direction: column;
      align-items: center;
      gap: 25px;

      &-greenBox {
        width: 80%;
      }

      &-redBox {
        width: 80%;
        height: auto;
      }
    }
  }
}
