.footer {
  color: white;
  background-color: var(--footer-color);
  margin-top: 24px;

  &-top {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #4f2f22;

    &-network {
      width: 220px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-desc {
      }

      &-icons {
        width: 50px;
        height: 50px;
        display: flex;
        cursor: pointer;
        transition: 250ms;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: gray;
        border: solid 1px gray;

        &-icon {
          font-size: 24px;
        }

        &:hover {
          color: white;
          border: solid 1px white;
        }
      }
    }

    &-feedback {
      display: flex;

      &-desc {
        display: flex;
        align-items: center;

        &-txt {
          font-size: 24px;
          color: white;
          margin-right: 30px;

          &:hover {
            color: rgb(224, 224, 224);
          }
        }
      }

      &-btn {
        height: 50px;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
        color: #623b2a;
        padding: 12px 30px;
        border-radius: 4px;
        background-color: #f8f9fa;

        &:hover {
          background-color: #ececec;
        }
      }
    }
  }

  &-middle {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: solid 1px #4f2f22;

    &-about-center {
      &-desc {
        &-title {
          font-size: 19px;
        }

        &-icon {
          display: none;
        }
      }

      &-links {
        min-width: 200px;
        margin-top: 20px;
        list-style-type: none;

        &-link {
          margin-top: 30px;

          > a {
            color: white;
            opacity: 0.8;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &-state-support {
      &-desc {
        &-title {
          font-size: 19px;
        }

        &-icon {
          display: none;
        }
      }

      &-links {
        min-width: 300px;
        margin-top: 20px;
        list-style-type: none;

        &-link {
          opacity: 0.8;
          margin-top: 30px;

          > a {
            color: white;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &-contact {
      &-desc {
        &-title {
          font-size: 19px;
        }
      }

      &-links {
        list-style-type: none;

        &-link {
          opacity: 0.8;
          margin-top: 30px;
          display: flex;
          align-items: center;

          &-icon {
            font-size: 22px;
          }

          > a {
            color: white;
            margin-left: 6px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &-bottom {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media only screen and (max-width: 990px) {
    &-top {
      padding: 20px;

      &-feedback {
        &-desc {
          &-txt {
            font-size: 20px;
          }
        }
      }
    }

    &-middle {
      padding: 20px;
    }

    &-bottom {
      padding: 20px;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 770px) {
    &-top {
      padding: 15px 20px;

      &-network {
        width: 100%;
      }

      &-feedback {
        display: none;
      }
    }

    &-middle {
      padding: 0;
      flex-direction: column;

      &-about-center {
        padding: 10px 20px;
        border-bottom: solid 1px #4f2f22;

        &-desc {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-title {
            font-size: 17px;
          }

          &-icon {
            display: block;
            font-size: 28px;
            cursor: pointer;
            color: #cd9b6a;
          }
        }

        &-links {
          &-link {
            margin-top: 15px;

            > a {
              font-size: 14px;
            }
          }
        }
      }

      &-state-support {
        padding: 10px 20px;
        border-bottom: solid 1px #4f2f22;

        &-desc {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-title {
            font-size: 17px;
          }

          &-icon {
            display: block;
            font-size: 28px;
            cursor: pointer;
            color: #cd9b6a;
          }
        }

        &-links {
          &-link {
            margin-top: 15px;

            > a {
              font-size: 14px;
            }
          }
        }
      }

      &-contact {
        padding: 10px 20px;
        border-bottom: solid 1px #4f2f22;

        &-desc {
          &-title {
            font-size: 17px;
          }
        }

        &-links {
          &-link {
            margin-top: 15px;

            > a {
              font-size: 14px;
            }
          }
        }
      }
    }

    &-bottom {
      flex-direction: column;
      align-items: flex-start;

      &-txt {
        opacity: 0.8;
        font-size: 14px;
      }
    }
  }
}
