/* ============== fonts ================ */

@font-face {
  font-family: Circe;
  src: url(../src/fonts/fontCirce/Circe-Regular.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
/* font-family: 'PT Sans', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Montserrat', sans-serif; */

/* ===================================== */

@import url("https://fonts.cdnfonts.com/css/circe");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --global-max-width: 1110px;
  --body-color: #f9f9f9;
  --header-color: #fff;
  --footer-color: #623b2a;
  --global-ff: "Circe", sans-serif;
  --text-color: #c39367;
}

body {
  background-color: var(--body-color);
  min-height: 1000px;
  position: relative;
}

.del-btn,
.edit-btn {
  background-color: red;
  padding: 10px 24px;
  border-radius: 10px;
  border: none;
  color: white;
}

.edit-btn {
  background-color: blue;
}

@media only screen and (max-width: 1200px) {
  :root {
    --global-max-width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    --global-max-width: 800px;
  }
}

@media only screen and (max-width: 750px) {
  :root {
    --global-max-width: 600px;
  }
}
